<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Window</title>
    <link rel="stylesheet" href="chat.css" />
  </head>
  <body>
    <div class="chat-container">
      <div class="chat-header"><h2>Chat Room</h2></div>
      <div class="chat-messages" id="chatMessages"></div>
      <form class="chat-input" id="chatForm" onsubmit="handleSubmit(event)">
        <input
          type="text"
          id="messageInput"
          placeholder="Type a message..."
          required
        />
        <button type="submit">Send</button>
      </form>
    </div>

    <script>
      const messageLink = `http://localhost:3000/message`;
      const messageInput = document.getElementById("messageInput");
      const chatMessages = document.getElementById("chatMessages");

      async function handleSubmit(event) {
        event.preventDefault();
        const message = messageInput.value.trim();
        if (!message) return;
        try {
          const response = await axios.post(
            `${messageLink}/send`,
            { message },
            {
              headers: {
                Authorization: `Bearer ${localStorage.getItem("token")}`,
              },
            }
          );
          addMessage(message, "Sent");
          alert(response.data.message);
        } catch (error) {
          console.log(error.response);
        }
        event.target.reset();
      }
      window.addEventListener("DOMContentLoaded", async () => {
        try {
          const response = await axios.get(`${messageLink}/receive`, {
            headers: {
              Authorization: `Bearer ${localStorage.getItem("token")}`,
            },
          });

          const messages = response.data.messages || [];
          const messageType = response.data.message;
          console.log(messageType);

          messages.forEach((msg) => {
            addMessage(msg.message, messageType); // type = 'sent' or 'received'
          });
        } catch (error) {
          console.log(error.response);
        }
      });

      function addMessage(text, type) {
        const messageDiv = document.createElement("div");
        messageDiv.classList.add("message", type);

        messageDiv.innerHTML = `
    <p>${text}</p>
  `;

        chatMessages.appendChild(messageDiv);
        chatMessages.scrollTop = chatMessages.scrollHeight;
      }
    </script>
  </body>
</html>
