/* --------- RESET & BASE --------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #000;
  color: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------- COMMON CONTAINER --------- */
.signup-div,
.auth-container {
  width: 100%;
  max-width: 420px;
  background: #111;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #333;
}

/* --------- HEADINGS --------- */
.signup-div h1,
.auth-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #5ecfff;
}

/* --------- FORM --------- */
.signup-form,
.auth-form {
  display: flex;
  flex-direction: column;
}

/* --------- LABELS --------- */
label {
  margin-bottom: 6px;
  font-size: 14px;
}

/* --------- INPUTS --------- */
input {
  margin-bottom: 16px;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #000;
  color: rgb(238, 236, 233);
  outline: none;
}

input:focus {
  border-color: #fffdfa;
}

/* --------- BUTTON --------- */
button {
  padding: 12px;
  margin-top: 10px;
  background: #349ff6;
  color: #000;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #70bbe6;
}

/* --------- LINKS --------- */
.bottom-link,
.auth-links {
  text-align: center;
  margin-top: 18px;
  font-size: 18px;
}

.bottom-link a,
.auth-links a {
  color: #67e6ff;
  text-decoration: none;
}

.bottom-link a:hover,
.auth-links a:hover {
  text-decoration: underline;
}

/* --------- ERROR MESSAGE --------- */
#errorMsg,
#error-tag {
  margin-top: 15px;
  color: #ff6b6b;
  text-align: center;
  font-size: 14px;
}
